<!-- [numbers]="[1, 2, 3]" - property binding to an input of the child component - providing data without modifying it to the child -->
<!-- (numberClick)="handleNumberClick($event)" - component event (output), calling an function when fired from the ts class -->
<app-navigation
  [navigationTitle]="numbersListTitle"
  [numbers]="[1, 2, 3]"
  (numberClick)="handleNumberClick($event)"
></app-navigation>

<!-- navigationTitle="Football players list" - property binding to a string input of the child - the square braces [] can be omitted -->
<app-navigation navigationTitle="Football players list"></app-navigation>

<!-- simple string interpolation example -->
<h1>Team: {{ team }}</h1>

<!-- *ngFor="let player of players" - repeating the targeted div element as many times as there are elements in the players array -->
<!-- *ngFor="let player of players" - creates a player variable that can be accessed inside the div -->
<div *ngFor="let player of players" [class.not-active]="!player.isActive">
  <span *ngIf="editedItemId !== player.id">
    <!-- [title]="player.name" - binding to native html element properties -->
    <span [title]="player.name">{{ player.name }}</span>
    <span *ngIf="!player.isActive" class="not-active-label">(not active)</span>
    <button (click)="handleActionButtonClick(player)">
      <!-- optional rendering of string content directly in the template -->
      {{ player.isActive ? "Deactivate" : "Activate" }}
    </button>
    <button (click)="handleItemEditClick(player)">Edit</button>
  </span>

  <!-- TWO-WAY data binding syntax -->
  <!-- [(text)]="player.name" does the same thing as the combination of the two below -->
  <!-- [text]="player.name" -->
  <!-- (textChange)="player.name = $event" -->
  <app-text-editor
    *ngIf="editedItemId === player.id"
    [(text)]="player.name"
    (close)="closeEditor()"
  ></app-text-editor>
</div>

<!-- approaches to binding a class or a style rule to some dynamic value -->
<!-- [ngClass]="{ 'last-name-present': item.lastName }" -->
<!-- [ngStyle]="{ 'margin-bottom': item.lastName ? '24px' : '' }" -->
<!-- [style.margin-bottom.px]="item.lastName ? 24 : 0" -->
<!-- [style.margin-bottom.px]="item.lastName ? 24 : 0" -->
<div
  *ngFor="
    let item of [
      { id: 1, firstName: 'Ivan', lastName: 'Petkanov' },
      { id: 2, firstName: 'Grozdan' }
    ]
  "
  [class.last-name-present]="item.lastName"
  class="static-class second-class"
  [style.margin-top.px]="item.lastName ? 24 : 0"
  (click)="handleItemClick(item, $event)"
>
  <span>{{ item.firstName }}</span>

  <!-- rendering items conditionally based on truthy/falsy values -->
  <span *ngIf="item.lastName"> {{ item.lastName }}</span>
  <span *ngIf="!item.lastName"> (no last name provided)</span>
</div>

<!-- render braces in template  -->
<div [style.margin-top.px]="24">Render braces in the template: {{ '{{ example }}' }}</div>
